.vk-container {
  position: absolute;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 999;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vk-grid {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.vk-grid button {
  padding: 10px;
  background-color: #13693c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.vk-actions {
  display: flex;
  justify-content: space-between;
}

.cancel {
  background-color: #f6a828;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
}

.validate {
  background-color: #d93b3b;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
}
